@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.chat-box{
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #059669;
}

.section-title{
  font-size: 30px;
  text-align: center;
  margin: 20px 0px;
  color: #00dc93;
}

.py{
  padding: 100px 0px;
}

.sub-text{
  text-align: center;
  font-size: 40px;
  padding: 10px 30%;
}

.seo-card{
  min-width: 300px !important;
}


.sub-title{
  font-size: 26px;
  padding: 20px 0px;
}

.input-contact{
  @apply rounded-xl bg-slate-200 text-black
}

.select-c{
  padding: 15px;
  margin-top: 14px;
}

.Success{
  @apply text-green-500 
}

.Error {
  @apply text-red-600
}

.footer-copy{
  text-align: center !important;
}

.flex-center{
  @apply flex justify-center items-center
}

.serviseText{
  margin-top: 80px;
}

@media (min-width:767px) {
  .menu-icon {
    display: none;
  }

}

@media (max-width:992px) {
  .hero-title{
    font-size: 80px !important;
  }
  .title-logo{
    font-size: 40px;
  }
  .sub-title{
    font-size: 20px;
    padding: 50px 0px;
  }
}

@media (max-width:767px) {
  .hero-title{
    font-size: 60px !important;
  }
   .sub-title{
    font-size: 18px;
    padding: 0px 0px;
  }
}

@media (max-width:545px) {
  .hero-title{
    font-size: 50px !important;
  }
   .title-logo{
    font-size: 30px;
  }
  .brand-content .images {
    width: 200px;
    margin: 0px auto;
  }
}

.pricing-plans {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 64px;
}

.pricing-card {
  --col: #e4e4e7;
  position: relative;
  min-width: 360px;
  padding: 32px;
  padding-bottom: 96px;
  border-radius: 4px;
  border: 1px solid #262626;
  background-color: #26262620;
  box-shadow: 0 0 32px transparent;
  text-align: center;
}

.pricing-card.basic {
  --col: #0891b2;
  max-width: 300px;
}

.pricing-card.standard {
  max-width: 300px;
  --col: #059669;
}

.pricing-card.premium {
  --col: #c026d3;
  max-width: 300px;
}

.pricing-card:hover {
  border-color: var(--col);
  background-color: #26262680;
  box-shadow: 0 0 32px #171717;
  transform: translateY(-16px) scale(1.02);
  transition: all 0.5s ease;
}

.pricing-card > *:not(:last-child) {
  margin-bottom: 32px;
}

.pricing-card .heading h4 {
  padding-bottom: 12px;
  color: var(--col);
  font-size: 24px;
  font-weight: normal;
}

.pricing-card .heading p {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: lighter;
}

.pricing-card .price {
  position: relative;
  color: var(--col);
  font-size: 60px;
  font-weight: bold;
}

.pricing-card .price sub {
  position: absolute;
  bottom: 14px;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: lighter;
}

.pricing-card .features li {
  padding-bottom: 16px;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
}

.pricing-card .features li i,
.pricing-card .features li strong {
  color: #e4e4e7;
  font-size: 16px;
  text-align: left;
}

/* .pricing-card .features li strong {
  padding-left: 24px;
} */

.pricing-card .cta-btn {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--col);
  background-color: var(--col);
  color: #e4e4e7;
  font-size: 20px;
  font-weight: bold;
}

.pricing-card .cta-btn:active {
  background-color: transparent;
  color: var(--col);
  transition: all 0.3s ease;
}
